@font-face {
	font-family:MuseoSlab;
	src: url('/fonts/Museo_Slab_500.ttf');
}

@font-face {
	font-family:HelveticaNeue;
	src: url('/fonts/Helvetica_Neue.ttf');
}

@font-face {
	font-family: RobotoLight;
	src: url('/fonts/Roboto-Light-webfont.ttf'),
		 url('/fonts/Roboto-Light-webfont.eot');
}

@font-face {
	font-family: Roboto;
	src: url('/fonts/Roboto-Regular-webfont.ttf'),
		 url('/fonts/Roboto-Regular-webfont.eot');
}

@font-face {
	font-family: RobotoBold;
	src: url('/fonts/Roboto-Bold-webfont.ttf'),
		 url('/fonts/Roboto-Bold-webfont.eot');
}

@font-face {
	font-family: RobotoBlack;
	src: url('/fonts/Roboto-Black-webfont.ttf'),
		 url('/fonts/Roboto-Black-webfont.eot');
}

@font-face {
	font-family: RobotoThin;
	src: url('/fonts/Roboto-Thin.ttf');
}

@font-face {
	font-family: England;
	src: url('/fonts/england.ttf');
}

/* CSS declarations go here */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

a:link,
a:visited {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

.h1 {
	font-size: 36px;
}

#app-header {
	width: 100%;
	height: 30px;
}

.login {
	float: right;
}

#logo {
	height: 100%;
	padding-top: 5px;
	font-family: England, Garamond, "Times New Roman";
	font-size: 32px;
}

#app-settings {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 4px;
	right: 4px;
}

#logo a:link,
#logo a:visited,
#logo a:hover,
#logo a:active {
	text-decoration: none;
}

.wrapper {
	position: fixed;
	top: 30px;
	bottom: 0;
	width: 100%;
}

.subheader {
	height: 42px;
	padding-top: 18px;
	color: #3d3d3d;
	font-size: 36px;
}

.search {
	width: 100%;
	height: 28px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
}

.search img {
	float: right;
	width: 17px;
	height: 13px;
	margin-right: 6px;
	margin-top: 4px;
}

/* Fix button height for jsonform input */
input.btn-primary {
	height: 30px;
}